#lateral{

    height: 200px;
    
}
#nav{
    background-color: #ff9800;
    font-family: "Battambang", system-ui;
   
}

#title{
    font-family: "Battambang", system-ui;
    font-weight: 500;
    font-style: normal;
}

#subTitle{
    font-family: "Battambang", system-ui;
    font-weight: 500;
    font-style: normal;
}
#parr{
    font-family: "Battambang", system-ui;
    font-weight: 300;
    font-style: normal;
    padding-left: 20px;
    padding-right: 20px;
}
#card{
    font-family: "Battambang", system-ui;
    font-weight: 300;
    font-style: normal;
}

#navbarNav{

    justify-content: space-between;
    font-family: "Battambang", system-ui;
}

#cardBtn{
    background-color:#ff9800 ;
}

#cardBtn:hover{
    background-color: #ffba6a;
    border: auto black;
}

#carouselExampleIndicators{
    font-family: "Battambang", system-ui;
    font-weight: 300;
    font-style: normal;
    justify-content: start;
}